/* All @keyframes animations from the original site */

@keyframes cloud-move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100vw, 0);
  }
}

@keyframes cloud-move-2 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100vw, 0);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes colorchange {
  0% {
    color: rgb(255, 18, 18);
  }
  10% {
    color: rgb(255, 110, 18);
  }
  20% {
    color: rgb(201, 255, 18);
  }
  30% {
    color: rgb(18, 255, 33);
  }
  40% {
    color: rgb(18, 255, 165);
  }
  50% {
    color: rgb(18, 165, 255);
  }
  60% {
    color: rgb(18, 33, 255);
  }
  70% {
    color: rgb(110, 18, 255);
  }
  80% {
    color: rgb(201, 18, 255);
  }
  90% {
    color: rgb(255, 18, 165);
  }
  100% {
    color: pink;
  }
}

@keyframes wobb {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
}

@keyframes hvr-pulse-grow {
  to {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-50%) translateY(-10px);
  }
  50% {
    transform: translateY(-50%) translateY(10px);
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(15deg) translateY(0);
  }
  50% {
    transform: rotate(15deg) translateY(-10px);
  }
}
