.container {
  background: #222;
  position: relative;
  resize: both;
  overflow: auto;
  width: 850px;
  height: 550px;
  font-size: 1.5em;
  background-image: url("/img/pink-background.gif");
}

.containerWide {
  width: 80%;
  height: 69%;
  top: 0;
}

.containerIndex {
  height: 65%;
}

.containerStudy {
  width: 90%;
  height: 69%;
}

.browserFrame {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-image-source: url("/img/classic-browser-border2.png");
  border-image-slice: 8 fill;
  border-image-width: 15px;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.browserFrame::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  pointer-events: none;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
  text-transform: uppercase;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainContentWrapper::-webkit-scrollbar {
  display: none;
}

.draggable {
  cursor: move;
}

:global(.drag-handle) {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: 13px;
  cursor: move;
  z-index: 10;
}

/* Case study backgrounds */
.cookieBg {
  background-image: url("/img/bg_yellowzinnia.jpg");
}

.devEventsBg {
  background-image: url("/img/wp24.gif");
}

.ifdbBg {
  background-image: url("/img/bg_bluewhiteflowers.gif");
}

/* Mobile responsive styles */
@media screen and (max-width: 632px) {
  .container {
    position: relative;
    background: none;
    resize: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    background-image: var(--background-img);
  }

  .mainContentWrapper {
    height: auto;
    padding: 10px 0 10px 0;
  }

  :global(.drag-handle) {
    display: none;
  }

  .containerWide {
    width: auto;
    height: auto;
    top: 0;
  }

  .browserFrame {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    border: none;
    border-image-source: none;
    background-image: none;
  }

  .browserFrame::before {
    content: "";
    position: relative;
    inset: 0;
    border: none;
    pointer-events: none;
  }
}

@media screen and (max-width: 325px), screen and (max-height: 330px) {
  .container,
  .browserFrame,
  .draggable {
    display: none;
  }
}

@media screen and (min-width: 633px) and (max-width: 850px) {
  .container {
    width: 100%;
  }

  :global(.drag-handle) {
    display: none;
  }
}

@media screen and (min-width: 633px) and (min-height: 330px) and (max-height: 525px) {
  :global(.drag-handle) {
    display: none;
  }
}
