.taskbar {
  height: 26px;
  background-color: rgb(192, 192, 192);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: ridge 2px white;
  padding: 2px 0;
  font-family: "MS Reference Sans Serif", sans-serif;
}

.task {
  float: left;
  top: 1px;
  bottom: 1px;
  left: 70px;
  font-weight: bolder;
  font-size: 12px;
  font-family: "MS Reference Sans Serif", sans-serif;
  margin: 2px 5px;
  padding: 2px 10px;
  border: inset 2px;
}

.task.active {
  border: inset 2px;
}

/* Hide on mobile */
@media screen and (max-width: 632px) {
  .taskbar {
    display: none;
  }
}

@media screen and (max-width: 325px), screen and (max-height: 330px) {
  .taskbar {
    display: none;
  }
}
