.navWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  height: 30px;
  width: 100%;
  padding-top: 5px;
}

nav a {
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
}

nav a:visited,
nav a:link {
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
  color: red;
}

/* Responsive styles */
@media screen and (max-width: 632px) {
  nav a {
    font-size: 5.5vw;
  }
}

@media screen and (min-width: 633px) and (max-width: 850px) {
  nav a {
    font-size: 4.8vw;
  }
}
