.h1Contact {
  margin-top: 20px;
}

.contactInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-transform: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contactInfoDiv {
  text-align: left;
}

.contactInfoDiv a {
  color: rgb(0, 48, 238);
  text-decoration: none;
}

.contactInfoDiv a:hover {
  text-decoration: underline;
  color: red;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formDiv label {
  font-weight: bold;
  text-align: left;
}

.formDiv input,
.formDiv textarea {
  padding: 0.5rem;
  border: 2px solid var(--green);
  border-radius: 5px;
  font-family: DeterminationSansWeb, sans-serif;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}

:global(.main-button) {
  padding: 10px 20px;
  background-color: var(--green);
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  font-family: DeterminationSansWeb, sans-serif;
  font-size: 1em;
  border-radius: 5px;
}

:global(.main-button:hover) {
  background-color: var(--green-lighter);
}

:global(.main-button:active) {
  background-color: red;
}

@media screen and (max-width: 632px) {
  .contactInfoWrapper {
    padding: 1rem;
  }
}
