.desktop {
  display: block;
}

.icons {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
}

.icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 37px;
  height: auto;
}

.folderWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.folderWindow img {
  display: block;
  height: auto;
}

.eggTrigger {
  position: absolute;
  bottom: 150px;
  right: 118px;
  width: 110px;
  height: 90px;
  cursor: pointer;
}

.closeTrigger {
  position: absolute;
  top: 9px;
  right: 11px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
