.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bolder;
  font-size: 12px;
  float: left;
  width: 52px;
  height: 21px;
  padding: 0 3px;
  margin-left: 3px;
  cursor: default;
  user-select: none;
  color: black;
  border-top: ridge 1px white;
  border-left: ridge 1px white;
  border-right: ridge 1px grey;
  border-bottom: ridge 1px grey;
  margin: 2px;
}

.start img {
  display: block;
}

.startMenuEgg {
  position: absolute;
  bottom: 28px;
  left: 0;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.startMenuEgg img {
  display: block;
  height: auto;
}

.startMenuEggTrigger {
  position: absolute;
  bottom: 49px;
  right: -42px;
  width: 161px;
  height: 40px;
  cursor: pointer;
  z-index: 20;
}
